<!DOCTYPE html>
<html>
<head>
    <title>TOP ARTICLES</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <meta http-equiv="refresh" content="120">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Gothic+A1:300,400,700" rel="stylesheet">
</head>
<body>