<!DOCTYPE html>
<html>
<head>
    <title>TOP ARTICLES</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <meta http-equiv="refresh" content="300">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>