body {
    font-family: 'Gothic A1', sans-serif;
    text-align: center;
    color: #FFF;
    background: #000;
    margin: 0;
}

h1 {
    font-size: 1.5em;
    text-align: left;
    margin: 0 0 0 7%;
}

ul {
    background-color: #000;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    background-clip: padding-box;
    border-width: thin;
    border-style: solid; 
    border-color: rgba(255,255,255,.01);
}

li {
    padding: 10px;
}

h3 {
    margin: 0;
}

span {
    color: #D70959;
}

img {
    max-width: 80%;
}

footer {
    padding: 10% 0 10% 0;
    margin: 0 auto;
    max-width: 901px;
/*    background: linear-gradient(to right, #F7C626 20%, #E5127D 80%);*/
    background: linear-gradient(to right, #13E0E8 20%, #D6056B 80%);
}

footer a {
    color: #F7C626;
    text-align: center;
    text-decoration: none;
    font-style: italic;
}

.banner {
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-size: 100%
}

.logo {
    max-width: 50%;
    margin-right: 45%;
    margin-top: 3%;
}

.date {
    font-weight: 300;
    font-size: .8em;
    font-style: italic;
    text-align: left;
    padding-top: auto;
}

.title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    max-height: 10%;
    border-bottom: thin;
    text-decoration: none;
}

.title a:hover { 
    color: #B60E63; 
}

.title a {
    text-decoration: none;
    color: #FFF;
}

.author {
    color: #BF0F68;
    text-transform: uppercase;
}

.image {
    text-align: center;
}

.desc {
    max-height: 10%;
    font-style: italic;

}

.link a {
    color: #E5127D;
    padding: 10px auto;
    text-align: center;
    text-decoration: none;
    font-style: italic;

}

.container {
    max-width: 901px;
    margin: 0 auto;
}

.grid {
    padding: 1px 1px 0 0;
    display: grid;
    background: linear-gradient(to right, #13E0E8 20%, #E5127D 80%);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: min-content;
    align-items: center;
}  

@media only screen and (min-width: 700px) {

    h1 {
        font-size: 3em;
    }

    ul:nth-child(1) {
        grid-column: span 2;
        text-align: left;
    }

    ul:nth-child(4) {
        grid-column: span 2;
        text-align: left;
    }

    ul:nth-child(5) {
        grid-column: span 2;
        text-align: left;
    }

    ul:nth-child(10) {
        grid-column: span 3;
    }
}


@media (hover: none) {
    .title a:hover { 
        color: inherit;
    }

    .title a:active {
        color: #B60E63;
    }
}