<!DOCTYPE html>
<html lang="en">
<head>
    <title>TOP ARTICLES</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="A site for fetching the top 10 news stories from theVerge.com">
    <meta name="keywords" content="news, tech, technology, the verge, verge, top 10, top stories, video games, apple, mac, computers">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
    <body>